<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryWeb</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventoryWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <style>
        .navbar .nav-link {
            color: deepskyblue; 
        }

        .navbar .nav-link.active {
            color: #fff;
        }

        .navbar .nav-link:hover {
            color: #ffffff;
        }
    </style>

</head>
<body>
    <header>
        
        @{
            var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
            var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
        }

        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                @* <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index">InventoryWeb</a> *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item @(currentController == "Home" && currentAction == "Index" ? "active" : "")">
                            <a class="nav-link @(currentController == "Home" && currentAction == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item @(currentController == "Home" && currentAction == "Privacy" ? "active" : "")">
                            <a class="nav-link @(currentController == "Home" && currentAction == "Privacy" ? "active" : "")" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item @(currentController == "Product" && currentAction == "Index" ? "active" : "")">
                            <a class="nav-link @(currentController == "Product" && currentAction == "Index" ? "active" : "")" asp-controller="ProductMvc" asp-action="IndexServer">Products (Server)</a>
                        </li>
                        <li class="nav-item @(currentController == "Product" && currentAction == "Index" ? "active" : "")">
                            <a class="nav-link @(currentController == "Product" && currentAction == "Index" ? "active" : "")" asp-controller="ProductMvc" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item @(currentController == "Supplier" && currentAction == "Index" ? "active" : "")">
                            <a class="nav-link @(currentController == "Supplier" && currentAction == "Index" ? "active" : "")" asp-controller="SupplierMvc" asp-action="Index">Suppliers</a>
                        </li>

                    </ul>
                    @* <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form> *@
                </div>
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-primary border-top footer text-muted text-center">
        <div class="container">
            &copy; 2025 - InventoryWeb
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- DataTables Script -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- Toastr -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Optional Scripts Rendered from Views -->
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Global Client-Side Validation Scripts -->
    <partial name="_ValidationScriptsPartial" />

    <!-- Toastr Notification Logic -->
    <partial name="_Notification" />

    <!-- Text selection script on focus in Razor Views -->
    <script>
        $(document).ready(function () {
            $('input[type="text"], input[type="email"], input[type="search"], input[type="tel"], input[type="number"]').on('focus', function () {
                if (this.selectionStart === this.selectionEnd) {
                    this.select();
                }
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            // When the select element gets focus
            $('select').on('focus', function () {
                var selectedOption = $(this).find('option:selected');
                // var text = selectedOption.text();

                // console.log('Selected text: ' + text);
            });
        });
    </script>


</body>
</html>
